<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <div class="content" th:fragment="MainContent">
        <!-- Add the container-fluid class to make the container full-width -->
        <div class="container-fluid">
            <!-- Add the d-flex and align-items-center classes to center the content vertically -->
            <div class="d-flex align-items-center">
                <!-- Add the mx-auto class to center the image horizontally -->
                <img src="/assets/img/filmountain/nanodc_yellow.png" alt="phoenix" class="img-fluid mx-auto">
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>