<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.HardwareInvestmentMapper">
	<!-- select -->
		<select id="getInvestmentList" resultType="com.nanoDc.erp.vo.HardwareInvestmentVO">
			SELECT investment.hw_id, 
		   		   investment.hw_status, 
		   		   investment.hw_reg_date, 
		  		   product.hw_product_name,
		  		   product.hw_product_status, 
		  		   product.picture_url, 
		   		   user.user_name, 
		   		   user.user_email,
		   		   investment.hw_invest_fil,
		   		   investment.user_id,
		   		   investment.hw_product_id	   
			FROM filmountain.hw_investment AS investment
			INNER JOIN filmountain.hw_product AS product ON investment.hw_product_id = product.hw_product_id
			INNER JOIN filmountain.user_info AS user ON investment.user_id = user.user_id
			WHERE investment.hw_status='active' AND user.user_status='active'
		</select>
		
		<select id="selectInvestmentListForUser" parameterType="integer" resultType="com.nanoDc.erp.vo.HardwareInvestmentVO">
			SELECT investment.hw_id, 
		   		   investment.hw_status, 
		   		   investment.hw_reg_date, 
		  		   product.hw_product_name, 
		  		   product.hw_product_status,
		  		   product.picture_url, 
		   		   user.user_name, 
		   		   user.user_email,
		   		   investment.hw_invest_fil,
		   		   investment.user_id,
		   		   investment.hw_product_id	   
			FROM filmountain.hw_investment AS investment
			INNER JOIN filmountain.hw_product AS product ON investment.hw_product_id = product.hw_product_id
			INNER JOIN filmountain.user_info AS user ON investment.user_id = user.user_id
			WHERE investment.hw_status='active' AND user.user_status='active' AND user.user_id = #{user_id}
	</select>
	
	<!-- insert -->
	<insert id="addNewinvestmentUser" parameterType="com.nanoDc.erp.vo.HardwareInvestmentVO">
		INSERT INTO filmountain.hw_investment
		(hw_reg_date,
		 hw_status,
		 hw_product_id,
		 user_id,
		 hw_invest_fil)
		VALUES
		(#{hw_reg_date}, 
		#{hw_status},
		#{hw_product_id}, 
		#{user_id}, 
		
		#{hw_invest_fil})
	</insert>
	
	<!-- update -->
	
	<update id="updateinvestmentUser" parameterType="com.nanoDc.erp.vo.HardwareInvestmentVO">
 	  
 	    UPDATE filmountain.hw_investment
 	    SET
	        hw_reg_date = #{hw_reg_date},
	        hw_status = CASE WHEN 'active' = #{hw_status} THEN hw_status ELSE 'inactive' END,
	        hw_product_id = #{hw_product_id},
	        hw_invest_fil = #{hw_invest_fil}
 	    WHERE

	        hw_id = #{hw_id}
 	</update>
	
</mapper>