<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.HardwareRewardSharingMapper">
	<resultMap id="hardwareProductMap" type="com.nanoDc.erp.vo.HardwareProductVO">
	    <id property="hw_product_id" column="hw_product_id"/>
	    <result property="hw_product_id" column="hw_product_id"/>
	    <result property="hw_product_name" column="hw_product_name"/>
	    <result property="hw_product_status" column="hw_product_status"/>
	    <result property="recruitment_start_date" column="recruitment_start_date"/>
	    <result property="preparation_start_date" column="preparation_start_date"/>
	    <result property="service_start_date" column="service_start_date"/>
	    <result property="service_end_date" column="service_end_date"/>
	    <result property="total_budget_fil" column="total_budget_fil"/>
	</resultMap>
	
	<resultMap id="hardwareRewardSharingMap" type="com.nanoDc.erp.vo.HardwareRewardSharingVO">
	    <id property="reward_sharing_id" column="reward_sharing_id"/>
	    <result property="hw_product_id" column="hw_product_id"/>
	    <result property="regdate" column="regdate"  javaType="java.util.Date" jdbcType="TIMESTAMP"/>
	    <result property="fil_paid_per_tb" column="fil_paid_per_tb"/>
	    <result property="status" column="status"/>
	    <association property="hardwareProductVO" resultMap="hardwareProductMap"/>
	</resultMap>
	<select id="getRewardSharingList" resultMap="hardwareRewardSharingMap">
		SELECT
		    r.reward_sharing_id,
		    r.hw_product_id,
		    r.regdate,
		    r.fil_paid_per_tb,
		    r.status,
		    p.hw_product_name,
		    p.hw_product_status,
		    p.recruitment_start_date,
		    p.preparation_start_date,
		    p.service_start_date,
		    p.service_end_date,
		    p.total_budget_fil
		FROM filmountain.hw_reward_sharing r
		INNER JOIN filmountain.hw_product p ON r.hw_product_id = p.hw_product_id
		WHERE r.status = 'active'
		</select>
</mapper>