<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.TransactionMapper">
	<insert id="addProduct" parameterType="com.nanoDc.erp.vo.TransactionVO">
		  INSERT INTO transaction (
		    fil_amount
		    reg_date,
		    status,
		   	type,
		    user_id,
		    wallet,
		    message
		  )
		  VALUES (
		    #{fil_amount},
		    #{reg_date},
		    #{status},
		    #{type},
		    #{user_id},
		    #{wallet},
		    #{message}
		  )
	</insert>
	
</mapper>