<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.UserInfoMapper">
	<!-- SELECT -->
	<select id="selectUserInfoList"  resultType="com.nanoDc.erp.vo.UserInfoVO">
		SELECT
		    u.user_id,
		    u.phone_number,
		    u.user_status,
		    u.user_reg_date,
		    u.user_name,
		    u.user_email,
		    u.profile_picture_url,
		    u.level,
		    COUNT(i.hw_id) AS investment_count
		FROM
		    user_info u
		LEFT JOIN
		    hw_investment i ON u.user_id = i.user_id
		WHERE
		    u.user_status != 'inactive'
		GROUP BY
		    u.user_email

	</select>
	
	<select id="get_last_useriId"  resultType="integer">
		SELECT MAX(user_id) AS user_id
		FROM user_info

	</select>
	
	<select id="verifyUserInfoVO" parameterType="com.nanoDc.erp.vo.UserInfoVO" resultType="com.nanoDc.erp.vo.UserInfoVO">
		select 
			user_id,
			phone_number,
			user_status,
			user_reg_date,
			user_name,
			user_email,
			profile_picture_url,
			level
		 from user_Info
		where user_email=#{user_email}
	</select>
	
	<select id="getUserPassword" parameterType="string" resultType="string">
		select 
			password
		 from password
		where user_id=#{user_id}
	</select>
	
	
	<!-- Update -->
	
	<update id="updateUser" parameterType="com.nanoDc.erp.vo.UserInfoVO">
		  UPDATE user_info
		  <set>
		    <if test="phone_number != null">phone_number = #{phone_number},</if>
		    <if test="user_status != null">
		      user_status = #{user_status},
		      <if test="user_status eq 'inactive'">user_email = '',</if>
		    </if>
		    <if test="user_name != null">user_name = #{user_name},</if>
		    <if test="user_email != null">
		      <if test="user_status neq 'inactive'">user_email = #{user_email},</if>
		    </if>
		    <if test="profile_picture_url != 'no_change'">
		      profile_picture_url = #{profile_picture_url},
		    </if>
		    <if test="level != null">level = #{level}</if>
		  </set>
		  WHERE user_id = #{user_id}

	</update>
	<update id="userPwReset" parameterType="com.nanoDc.erp.vo.UserInfoVO">
		  UPDATE password
		  set password=#{password}
		  WHERE user_id = #{user_id}

	</update>
	
	<!-- INSERT -->
	
	<insert id="addNewUser" parameterType="com.nanoDc.erp.vo.UserInfoVO">
		INSERT INTO filmountain.user_info
		(phone_number,
		 user_status, 
		 user_reg_date, 
		 user_name, 
		 user_email, 
		 profile_picture_url)
		VALUES
		(#{phone_number}, 
		#{user_status}, 
		NOW(), 
		#{user_name}, 
		#{user_email}, 
		#{profile_picture_url})
	</insert>
	
	
	
	<insert id="addNewUser_pwd" parameterType="com.nanoDc.erp.vo.UserInfoVO">
		INSERT INTO filmountain.password
		(user_id,
		 password)
		VALUES
		(#{user_id}, 
		#{password})
	</insert>
	
	
	
</mapper>
	