<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanoDc.erp.mapper.WalletMapper">
	<insert id="addNewWallet" parameterType="com.nanoDc.erp.vo.WalletVO">
		 INSERT INTO filmountain.wallet
				(address, 
				 user_id,
				 status,
				 reg_date)
				VALUES(#{address},
					   #{user_id}, 
					   'active', 
					   now()
			   );
	</insert>
	<select id="getWalletListByUser" parameterType="integer" resultType="com.nanoDc.erp.vo.WalletVO">
		SELECT wallet_id, address, user_id, status, reg_date
			FROM filmountain.wallet
			WHERE user_id=#{user_id} AND status='active';
	</select>
	
	<update id="deleteWalletByWalletId" parameterType="long">
		UPDATE filmountain.wallet
			SET status='deleted'
			WHERE wallet_id=#{wallet_id};
	</update>
	
</mapper>