<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		
      <div class="content" th:fragment="MainContent">
        <!-- Add the container-fluid class to make the container full-width -->
        <div class="container-fluid">
            <!-- Add the d-flex and align-items-center classes to center the content vertically -->
            <div class="d-flex align-items-center">
                <!-- Add the mx-auto class to center the image horizontally -->
                <img src="/assets/img/filmountain/nanodc_yellow.png" alt="phoenix" style="max-height: 90vh; width: auto; display: block; margin: auto;">
            </div>
        </div>
    </div>
    
</html>