<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-top fixed-top" id="navbarTop" th:fragment="TopBar" style="background-color: #E5C71E; padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/assets/img/filmountain/koala2.jpg" alt="profile picture" style=" height: 10vh; width: auto; border-radius: 50%;">
                </div>
                <div class="col-8">
                    <span style="color: Black; display:block;" class="ms-5 fs-7">Koala</span>
                    <span style="color: Black; display:block;" class="ms-5 fs-7">koala@koala.com</span>
                </div>
            </div>
        </div>
    </nav>
</html>