<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    		<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop" th:fragment="TopBar">
        <div class="col-12 col-sm-auto">
					
                        <table class="lh-sm mt-2 mb-2">
                          <tbody>
							  <tr class="mt-5 mb-5">
                              <td class="align-top py-1 ">
                                <div class="d-flex"><svg class="svg-inline--fa fa-user me-2 text-body-tertiary fs-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path></svg><!-- <span class="fa-solid fa-user me-2 text-body-tertiary fs-9"></span> Font Awesome fontawesome.com -->
                                  <h5 class="text-body mb-0 text-nowrap">Name :</h5>
                                </div>
                              </td>
                              <td class="text-info fw-semibold ps-3">김코알라</td>
                              
                            </tr>
                                        
                            
                            <tr>
                              <td class="align-top py-1">
                                <div class="d-flex"><svg class="svg-inline--fa fa-credit-card me-2 text-body-tertiary fs-9" aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M168 336C181.3 336 192 346.7 192 360C192 373.3 181.3 384 168 384H120C106.7 384 96 373.3 96 360C96 346.7 106.7 336 120 336H168zM360 336C373.3 336 384 346.7 384 360C384 373.3 373.3 384 360 384H248C234.7 384 224 373.3 224 360C224 346.7 234.7 336 248 336H360zM512 32C547.3 32 576 60.65 576 96V416C576 451.3 547.3 480 512 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H512zM512 80H64C55.16 80 48 87.16 48 96V128H528V96C528 87.16 520.8 80 512 80zM528 224H48V416C48 424.8 55.16 432 64 432H512C520.8 432 528 424.8 528 416V224z"></path></svg><!-- <span class="fa-regular fa-credit-card me-2 text-body-tertiary fs-9"></span> Font Awesome fontawesome.com -->
                                  <h5 class="text-body mb-0 text-nowrap">총 투자 금액 : </h5>
                                </div>
                              </td>
                              <td class="text-warning fw-semibold ps-3">10,000 FIL</td>
                            </tr>
                           
                             <tr>
                              <td class="align-top py-1">
                                <div class="d-flex"><svg class="svg-inline--fa fa-credit-card me-2 text-body-tertiary fs-9" aria-hidden="true" focusable="false" data-prefix="far" data-icon="credit-card" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M168 336C181.3 336 192 346.7 192 360C192 373.3 181.3 384 168 384H120C106.7 384 96 373.3 96 360C96 346.7 106.7 336 120 336H168zM360 336C373.3 336 384 346.7 384 360C384 373.3 373.3 384 360 384H248C234.7 384 224 373.3 224 360C224 346.7 234.7 336 248 336H360zM512 32C547.3 32 576 60.65 576 96V416C576 451.3 547.3 480 512 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H512zM512 80H64C55.16 80 48 87.16 48 96V128H528V96C528 87.16 520.8 80 512 80zM528 224H48V416C48 424.8 55.16 432 64 432H512C520.8 432 528 424.8 528 416V224z"></path></svg><!-- <span class="fa-regular fa-credit-card me-2 text-body-tertiary fs-9"></span> Font Awesome fontawesome.com -->
                                  <h5 class="text-body mb-0 text-nowrap">Total Reward : </h5>
                                </div>
                              </td>
                              <td class="text-warning fw-semibold ps-3">100 FIL</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
        
         <ul class="navbar-nav navbar-nav-icons flex-row ms-auto position-absolute top-0 end-0">
          <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
              <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle">
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Switch theme" data-bs-original-title="Switch theme"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon icon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></label>
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Switch theme" data-bs-original-title="Switch theme"><svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun icon"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></label>
            </div>
          </li>                     
        </ul>
      </nav>
      <script>
        var navbarVertical = document.querySelector('.navbar-vertical');
        navbarVertical.remove();
        navbarTop.removeAttribute('style');
      </script>
      
        </nav>
</html>