<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer position-absolute" th:fragment="BottomBar" style="height:12vh; background-color: #E5C71E;">
    <div class="swiper-theme-container" style="height:100%;">
        <div class="swiper-container theme-slider" data-swiper='{"autoplay":false,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}' style="height:100%;">
            <div class="swiper-wrapper align-items-center">
                <th:block th:each="group : ${dividedList}">
                    <div class="swiper-slide">
                        <div class="d-flex justify-content-center">
                            <th:block th:each="product : ${group}">
                              <button class="btn btn-secondary me-1 mb-1" type="button" th:text="${product.hw_product_name}" th:onclick="'window.location.href = \'/user/index?hw_product_id=' + ${product.hw_product_id} + '\''"></button>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</footer>
</html>
