<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
		
      <div class="content p-0" th:fragment="MainContent">
        <!-- Add the container-fluid class to make the container full-width -->
        <div class="container-fluid">
		    <div class="d-flex align-items-center">
            <!-- Add the mx-auto class to center the image horizontally -->
            	<img src="/assets/img/filmountain/nanodc_yellow.png" alt="phoenix" style="width: auto; height: 80vh; object-fit: cover; display: block; margin: auto; margin-top:11vh;">
        	</div>
        	 <div class="row">
        	<div class="col-12 text-center">
	                <button type="button" class="btn w-100 fw-bold text-body-emphasis" style="background-color: #E5C71E;">출금신청</button>
	          </div>
	          </div>
        	<!-- Buttons overlay -->
	        <div class="row position-absolute top-50 start-50 translate-middle">
	            <div class="col-12 text-center" style="padding-left:27vh;">
					<a href="/user/investment/">
					<span class="uil fs-5 lh-1 text-body uil uil-coins"></span>
	                <h1 class="fs-7 pt-1">1,221TB</h1>
	                <p class="fs-10 mb-0 text-black">투자 TB</p>
	                </a>
	            </div>
	            <div class="col-12 text-center mt-1" style="padding-left:27vh;">
					<a href="/user/reward/">
	               <span class="uil fs-5 lh-1 text-body uil uil-money-stack"></span>
	                <h1 class="fs-7 pt-1">234FIL</h1>
	                <p class="fs-10 mb-0 text-black">리워드</p>
	                </a>
	            </div>
	            <div class="col-12 text-center mt-1" style="padding-left:27vh;">
					<a href="/user/transaction/">
	               <span class="uil fs-5 lh-1 text-body uil uil-money-insert"></span>
	                <h1 class="fs-7 pt-1">123FIL</h1>
	                <p class="fs-10 mb-0 text-black">출금가능 FIL</p>
	                </a>
	            </div>
	            
	             <div class="col-12 text-center mt-1" style="padding-left:27vh;">
	               <span class="uil fs-5 lh-1 text-body uil uil-usd-circle"></span>
	                <h1 class="fs-7 pt-1">9,230원</h1>
	                <p class="fs-10 mb-0 text-black">1FIL</p>
	            </div>
	        </div>
        </div>
    </div>
    
</html>