<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div class="top-bar" th:fragment="TopBar" style="background-color: #E5C71E; padding: 10px;">
        <!-- Add the container class to center the content and add some padding -->
        <div class="container">
            <!-- Add the d-flex, align-items-center, and justify-content-between classes for layout -->
            <div class="d-flex align-items-center justify-content-between">
                <!-- User's small profile picture (replace 'your_profile_image.jpg' with the actual path) -->
                <img src="/assets/img/filmountain/koala2.jpg" alt="profile picture" style="width: 30px; height: 30px; border-radius: 50%;">

                <!-- User's name -->
                <span style="color: Black; margin-left: 10px;" class="fs-3">Koala</span>

                <!-- User's email address -->
                <span style="color: Black; margin-left: 10px;" class="fs-3">koala@koala.com</span>
            </div>
        </div>
    </div>
    <div class="content" th:fragment="MainContent">
        <!-- Add the container-fluid class to make the container full-width -->
        <div class="container-fluid">
            <!-- Add the d-flex and align-items-center classes to center the content vertically -->
            <div class="d-flex align-items-center">
                <!-- Add the mx-auto class to center the image horizontally -->
                <img src="/assets/img/filmountain/nanodc_yellow.png" alt="phoenix" style="max-height: 100vh; width: auto; display: block; margin: auto;">
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="/vendors/popper/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/anchorjs/anchor.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="/vendors/fontawesome/all.min.js"></script>
    <script src="/vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/vendors/list.js/list.min.js"></script>
    <script src="/vendors/feather-icons/feather.min.js"></script>
    <script src="/vendors/dayjs/dayjs.min.js"></script>
    <script src="/assets/js/phoenix.js"></script>
    <script src="/vendors/echarts/echarts.min.js"></script>
    <script src="/assets/js/projectmanagement-dashboard.js"></script>
    <!--<script src="/assets/js/crm-dashboard.js"></script>-->
    <script src="/vendors/leaflet/leaflet.js"></script>
    <script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="/assets/js/ecommerce-dashboard.js"></script>
</body>

</html>